{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Article index</h1>
	<a href="{{ path('app_article_new') }}">Nouvel article</a>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Contenu</th>
				<th>Image</th>
				<th>Catégorie(s)</th>
				<th>Création</th>
				<th>Modification</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.author.name }}</td>
					<td>{{ article.content }}</td>

					<td>
						{% if article.image %}
							<div class="img-cont">
								<img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}" style="max-width: 400px;">
							</div>
						{% else %}
							Aucune image
						{% endif %}
					</td>
					<td>
						{% for category in article.category %}
							<span class="tag">{{ category.name }}</span>
						{% else %}
							Aucune catégorie
						{% endfor %}
					</td>

					<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>


					<td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_article_show', {'id': article.id}) }}">Lire</a>
						{% if app.user and app.user == article.author %}
							<a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
