{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>{{article.title}}</h1>
	<div>
		{% if article.image %}
			<div class="img-cont">
				<img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}" style="max-width: 600px;">
			</div>
		{% endif %}
	</div>
	<span>Créé le
		{{ article.createdAt ? article.createdAt|date('j F Y') : '' }}</span>

	<span>{{ article.updatedAt ? 'et modifié le ' ~ article.updatedAt|date('j F Y') : '' }}</span>


	<p>Écrit par :
		{{article.author.name}}</p>
	<p>{{ article.content }}</p>


	<a href="{{ path('app_article_index') }}">Retour au blog</a>

	<a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>

	{{ include('article/_delete_form.html.twig') }}
{% endblock %}
